header {
    width: 100%;
    height: 50px;
    background-color: #58ff34;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
}