.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 200px;
    flex-direction: column;
}

#search-submit {
    display: block;
    margin: 20px;
    width: 100px;
    height: 30px;
    border-radius: 3px;
}

.search-input {
    width: 50%;
    height: 30px;
}
